.pagination>.active>a, .pagination>.active>span,
.pagination>.active>a:hover, .pagination>.active>span:hover,
.pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
	color: white !important;
	background-color: #191f26;
}

.navbar-default .navbar-brand {
    background-color: rgba(25,31,38, 0.3);
    color: white;
}

.navbar div div:first-child {
    background: linear-gradient(to right, rgba(25,31,38, 0.7) , rgba(25,31,38, 0.2));
}

.nav-pills a.active {
    background-color: white;
    color: #395775;
}

.nav-pills>li>a:hover {
    color: #395775;
}

.nav-pills>li>a {
    color: white;
    border-radius: 0;
}

.navbar {
    background-color: #395775;
}